<main>
  <h1>Butane</h1>
  <p>
    Butane is an <a
    style="color: #ef6c00;"
    target="_blank" href="https://github.com/orgs/rokus-box/repositories">open source</a> secret vault. I've used
    <a
      target="_blank"
      style="
        background: linear-gradient(to right, #8514f5, #e90364);
        padding: 1px 2px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      href="https://angular.dev/"
      >Angular</a
    >
    on client side and
    <a
      target="_blank"
      style="
        background: #232f3e;
        padding: 1px 2px;
        color: #ff9900;
        text-decoration: none;
        border-radius: 5px;
      "
      href="https://aws.amazon.com/"
      >AWS</a
    >
    Lambda with various languages on server side. (currently Golang and Node.js)
    <br />Butane utilizes different OAuth providers for authentication, Current
    providers are
    <b style="color: #4285f4">G</b>
    <b style="color: #ea4335">o</b>
    <b style="color: #fbbc05">o</b>
    <b style="color: #4285f4">g</b>
    <b style="color: #34a853">l</b>
    <b style="color: #ea4335">e</b>
    and
    <b style="color: #404eed">Discord</b>.
  </p>
  <p>
    I primarily made this project to learn various AWS services such as
    CloudWatch, Lambda, DynamoDB, API Gateway, DDB Event Streams, etc and to
    <br />
    learn setting up CI/CD pipeline with OIDC authentication using GitHub
    Actions.
  </p>
  <p>
    I've also wanted to learn
    <a
      target="_blank"
      style="
        background: #7700ff;
        padding: 1px 2px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      href="https://www.terraform.io/"
      >Terraform</a
    >
    to manage AWS resources and Infrastructure-as-Code so I've used Terraform to
    manage
    <br />
    AWS resources and GitHub Actions to manage CI/CD pipeline and deploy it to
    AWS.
  </p>
  <br />
  <a
    target="_blank"
    mat-stroked-button
    color="primary"
    href="https://butane.rokusbox.com/auth"
  >
    Go to Butane <mat-icon>open_in_new</mat-icon>
  </a>
  <br />
  <mat-divider></mat-divider>
  <br />
  <span>Some screenshots</span>
  <br />
  <img
    ngSrc="assets/butane/services.png"
    alt="Butane screenshot 1"
    [width]="1045"
    [height]="505"
  />
  <br>
  <mat-divider></mat-divider>
  <br>
  <img
    ngSrc="assets/butane/create-vault.png"
    alt="Butane screenshot 2"
    [width]="868"
    [height]="632"
  />
  <br>
  <mat-divider></mat-divider>
  <br>
  <img
    ngSrc="assets/butane/audit-log.png"
    alt="Butane screenshot 2"
    [width]="886"
    [height]="415"
  />
</main>
