<main>
  <h1>Go Hexagonal Architecture</h1>
  <p>
    This is an example of Hexagonal Architecture in Go. It is a simple project
    that <br />
    I've created to learn more about the Hexagonal Architecture and how to
    <br />
    implement it as best as I can.
  </p>
  <p>
    I think <i>"Adapter Pattern everywhere"</i> sums up the Hexagonal <br />
    Architecture pretty well since there isn't much difference between <br />
    interacting with a database and interacting with external applications, they
    <br />
    all follow a similar pattern. In the same way that we might use <br />
    an interface and a repository for interacting with a database, we can use
    <br />
    ports and adapters for all of the inputs and the outputs of our application. <br>
    and that is what I've wanted to accomplish with this project.
  </p>
  <a
    target="_blank"
    mat-stroked-button
    color="primary"
    href="https://github.com/roku-on-it/golang-hexarch"
  >
    Go to Golang Hexarch
    <mat-icon>open_in_new</mat-icon>
  </a>
</main>
