<main>
  <img
    ngSrc="assets/rokusbox.png"
    [width]="300"
    [height]="300"
    priority=""
    alt="Roku's Box icon"
  />
  <h1>Step into my box!</h1>
  <mat-divider />
  <p>This place is where I keep my projects, you know, my box.</p>
  <a mat-stroked-button color="accent" routerLink="/who-is-roku">
    About me
    <mat-icon>open_in_new</mat-icon>
  </a>
  <mat-divider />
  <h4>Here are some of my projects:</h4>
  <div>
    <a routerLink="projekts/butane">
      <app-morph-button
        textColor="#ef6c00"
        subTitle="Butane">
        <app-svg-key />
      </app-morph-button>
    </a>
    <div style="border-left: 1px solid #ccc; height: 3.5em;"></div>
    <a routerLink="projekts/redi-rs">
      <app-morph-button
        color="black"
        subTitle="redi&minus;rs">
        <app-svg-redirs />
      </app-morph-button>
    </a>
    <a routerLink="projekts/hexarch">
      <app-morph-button
        color="#74cedd"
        textColor="dodgerblue"
        subTitle="Hexarch">
        <app-svg-hexarch />
      </app-morph-button>
    </a>
  </div>
</main>
